<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: 'W330VW099N',
    apiKey: '2aa9b72eaf4b3c18c927c42602c6ef3e',
    siteId: 'c652f3fe-7295-4bce-b960-958a88add0a5',
    branch: 'main',
    selector: 'div#search',
  });
</script>
 <!-- Google tag (gtag.js) -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=G-GQKKYY4MGH"></script>
 <script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());
 gtag('config', 'G-GQKKYY4MGH');
 </script>
