<button class="btn btn-primary hidden" data-modal-open="" id="modal-btn"></button>

<div class="modal" data-modal="">
    <div class="modal-overlay" data-modal-close="" data-modal-overlay=""></div>
    <div class="modal-content w-[600px] text-black">
      <div style="font-size: 30px;">Follow Us</div>


        <p>🌟 Stay in the loop! Join our Telegram channel for exclusive content and discussions, follow us on Twitter for updates, and join our Reddit community for engaging conversations.</p>
        
        <div class="mt-5 mb-5" style="color: #00a9ff;font-size: 18px;">
            <p>
                <a href="https://t.me/withcodeexample" target="_blank" class="social-link-tg"><i class="fab fa-telegram"></i> Telegram</a> 
            
                <a href="https://twitter.com/withcodeexample" target="_blank" class="social-link-tw"><i class="fab fa-twitter"></i> Twitter</a>  
            
                <a href="https://www.reddit.com/r/withcodeexample/" target="_blank" class="social-link-rd"><i class="fab fa-reddit"></i> Reddit</a>
            </p>
        </div>
        
        <p>Connect with us today! 🚀 #Community #Engagement #JoinUs</p>
      <button class="modal-close" data-modal-close="">×</button>
    </div>
  </div>

<script>
    setTimeout(function () {
        var btn = document.getElementById("modal-btn")
        var closed = localStorage.getItem('modalClosed');
        if (!closed){
            btn.click()
        }
    }, 1000 * 20)

    function closed(){
        console.log("closed")
    }
    function handleModalClose() {
        var tag = gtag('event', 'modal-closed', {
            'event_category': 'modal',
            'event_label': 'Modal Closed',
        });
        localStorage.setItem('modalClosed', 'true');
    }
    const closeButton = document.querySelector('.modal-close');
    closeButton.addEventListener('click', handleModalClose);
    const modalOverlay = document.querySelector('.modal-overlay');
    modalOverlay.addEventListener('click', function(event) {
        if (event.target === modalOverlay) {
            handleModalClose();
        }
    });
    document.addEventListener('keydown', function(event) {
        if (event.key === 'Escape') {
            handleModalClose();
        }
    });
    const socialLinkTg = document.querySelector('.social-link-tg');
    socialLinkTg.addEventListener('click', function(event) {
        var tag = gtag('event', 'telegram-link-clicked', {
            'event_category': 'follow',
            'event_label': 'Telegram Button',
        });
    });
    const socialLinkTw = document.querySelector('.social-link-tw');
    socialLinkTw.addEventListener('click', function(event) {
        var tag = gtag('event', 'twitter-link-clicked', {
            'event_category': 'follow',
            'event_label': 'Twitter Button',
        });
    });
    const socialLinkRd = document.querySelector('.social-link-rd');
    socialLinkRd.addEventListener('click', function(event) {
        var tag = gtag('event', 'reddit-link-clicked', {
            'event_category': 'follow',
            'event_label': 'Reddit Button',
        });
    });
</script>
